<h1 style="text-align: center;">Lambda Tracker</h1>
<h4>Функциональность сайта:</h4>
<p>Идея проекта - используемая мной последние полтора года программа для ведения домашней бухгалтерии &quot;MoneyTracker&quot;</p>
<h4>Легенда:</h4>
<p>Обязательный функционал <i><b>А</b></i></p>
<p>Желательный функционал <i><b>В</b></i></p>
<ul>
	<li>Авторизация</li>
	<li>Отчеты</li>
	<li>Добавление расходов/доходов</li>
	<li>Личный кабинет</li>
	<li>Комментарии к расходам/доходам</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
